@font-face {
    font-family: 'icons';
    src:  url('../fonts/icons.eot?iz9tlb');
    src:  url('../fonts/icons.eot?iz9tlb#iefix') format('embedded-opentype'),
      url('../fonts/icons.woff?iz9tlb') format('woff'),
      url('../fonts/icons.svg?iz9tlb#icons') format('svg');
    // src:  url('../fonts/icons.ttf?iz9tlb') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*="icon-"] {
    font-family: 'icons' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-github:before {
    content: "\e900";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-telegram:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-arrow-sircle-up:before {
    content: "\e904";
  }