// Миксины ===========================================================================
@import 'mixins';

// Animations ============================================================================
// @import 'animations';
// @import 'animate';

// Шрифты ============================================================================
@import 'fonts';
$fontFamily: 'Poppins', sans-serif;
$fontSize: 10px;

// Иконочные шрифты ==================================================================
@import 'icons';

// Переменные ========================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1140px + 30px;
$md1: $maxWidthContainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #000000;
$secondColor: #FFA501;

// Обнуление, общие параметры ========================================================
@import 'null';
*:last-child {
    margin-bottom: 0;
}


html {
    scroll-behavior: smooth;
    font-size: $fontSize;
}

body {
    color: $mainColor;
    font-family: $fontFamily;
}

// Основная сетка ====================================================================
.container {
    max-width: $maxWidthContainer;
    padding: 0px 15px;
    margin: 0 auto;
}

// Titles, buttons ===================================================================
.btn {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    padding: 12px 26px;
    display: inline-block;
    color: inherit;
    background-color: $secondColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
        &:hover {
            background-color: $mainColor;
            color:$secondColor;
            box-shadow: none;
        }
}

.title {
    font-weight: 700;
    color: $mainColor;
    &_fs48 {
        font-size: 4.8rem;
        line-height: 6.0rem;
    }
    &_fs36 {
        font-size: 3.6rem;
        line-height: 4.0rem;
    }
    &_fs20 {
        font-size: 2.0rem;
        line-height: 3.0rem;
    }
    &_fs16 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    &_fs14 {
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

.subtitle_circle,
.title_circle {
    padding-left: 13px;
    position: relative;
    z-index: 5;
    @include circle;
}



// Blocks ============================================================================
// @import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about-me';
@import 'blocks/experience';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import 'blocks/contacts';
// @import 'slider';
// @import 'blocks/footer';
// @import 'modal';
// @import 'pageup';