.about-me {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmmax(300px, 1fr) minmax(300px, 1fr));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 70px;
        row-gap: 40px;
    }

    &__image {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        img {
            object-fit: contain;
        }
    }

    &__desc {
        grid-column: 2 / 3;
        padding-top: 6px;
    }

    &__title {
        position: relative;
        padding-left: 12px;
        @include circle;
    }

    &__subtitle {
        margin-bottom: 6px;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 2.1rem;
        margin-top: 20px;
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) minmax(250px, 1fr));
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 50px;
        row-gap: 20px;
    }

    &__skill {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        column-gap: 20px;
        row-gap: 6px;
    }

    &__skill-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        position: relative;
        img {
            padding: 15px 0 0 15px;
        }
        @include circle;
        &:before {
            top: 0;
        }
    }

    &__skill-title {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    &__skill-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $secondColor;
}
