.experience {
    padding-top: 120px;
    @media (max-width:$md3) {
        padding-top: 80px;
    }
    @media (max-width:$md4) {
        padding-top: 40px;
    }
    &__title {
        position: relative;
        text-align: center;
        margin-bottom: 6px;
        @include circle;
        &:before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 25px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        column-gap: 135px;
        padding: 60px 65px 0 65px;
        @media (max-width:$md1) {
            column-gap: 80px;
        }
        @media (max-width:$md3) {
            grid-template-columns: 1fr;
            column-gap: unset;
            padding: 40px 0px 0px 0px;
        }
    }
    &__item-title {
        position: relative;
        padding-left: 50px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 100%;
            background-color: $secondColor;
        }
    }
    &__item-aducation {
        position: relative;
        display: grid;
        grid-template-columns: 56px 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        padding: 45px 0 0 50px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: calc(100% + 7.5px);
            top: -7.5px;
            left: 7px;
            background-color: $mainColor;
        }
    }
    &__item-image {
        position: relative;
        @include circle;
            &:before {
                top: 0%;
                left: 0%;
        }
        img {
            padding: 16px 0 0 16px;
        }
    }
    &__item-address {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 42px;
            height: 1px;
            top: 17px;
            left: -98px;
            background-color: $mainColor;
        }
    }
    &__item-address-title {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    &__item-subtitle {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    &__item-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
        grid-column: 1 / 3;
        margin-top: 12px;
    }
    .divider {
        margin: 0 auto;
    }
    &__col {
        @media (max-width:$md3) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}