.skills {
    padding-top: 120px;
    &__title {
        position: relative;
        text-align: center;
        margin-bottom: 6px;
        @include circle;
        &:before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__subtitle {
        text-align: center;
        margin-bottom: 25px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-template-rows: repeat(auto-fit, auto);
        grid-auto-rows: auto;
        gap: 13px;
        padding-top: 60px;
    }

    &__item {
        padding: 30px;
        border: 1px solid $mainColor;
    }

    &__image {
        margin-bottom: 20px;
        height: 65px;
        display: flex;
        align-items: center;
        img {
            object-fit: contain;
        }
    }
    &__item-title {
        margin-bottom: 15px;

    }
    &__text {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .divider {
        margin: 0 auto;
    }
    &__level {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        column-gap: 45px;
        row-gap: 30px;
    }

    &__level-item {
        display: grid;
        grid-template-columns: 1fr 40px;
        grid-template-rows: 36px 14px;
        grid-auto-rows: auto;
        row-gap: 20px;
    }

    &__level-title {
        position: relative;
        padding-left: 13px;
        display: flex;
        align-items: center;
        @include circle;
        &::before {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__level-percent {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }

    &__level-progress {
        width: 100%;
        height: 14px;
        background: #E8E4DE;
        border-radius: 4px;
        grid-column: 1 / 3;
        position: relative;
    }

    &__level-progress-line {
        height: 100%;
        border-radius: 4px;
        background-color: $secondColor;
    }
}

