@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?iz9tlb");
  src: url("../fonts/icons.eot?iz9tlb#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?iz9tlb") format("truetype"), url("../fonts/icons.woff?iz9tlb") format("woff"), url("../fonts/icons.svg?iz9tlb#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=icon-] {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}

.icon-telegram:before {
  content: "\e901";
}

.icon-designer:before {
  content: "\e902";
}

.icon-developer:before {
  content: "\e903";
}

.icon-courses:before {
  content: "\e904";
}

.icon-university:before {
  content: "\e905";
}

.icon-mobile:before {
  content: "\e906";
}

.icon-design:before {
  content: "\e907";
}

.icon-monitor:before {
  content: "\e908";
}

.icon-github:before {
  content: "\e909";
}

.icon-facebook:before {
  content: "\e90a";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

*:last-child {
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  padding: 12px 26px;
  display: inline-block;
  color: inherit;
  background-color: #FFA501;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #000000;
  color: #FFA501;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.title {
  font-weight: 700;
  color: #000000;
}

.title_fs48 {
  font-size: 4.8rem;
  line-height: 6rem;
}

.title_fs36 {
  font-size: 3.6rem;
  line-height: 4rem;
}

.title_fs20 {
  font-size: 2rem;
  line-height: 3rem;
}

.title_fs16 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.title_fs14 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.subtitle_circle,
.title_circle {
  padding-left: 13px;
  position: relative;
  z-index: 5;
}

.subtitle_circle:before,
.title_circle:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -30%;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  background: #FFA501;
}

.promo {
  position: relative;
  height: 100vh;
  background: url(../img/bg.jpg) 50%/cover no-repeat;
  padding-top: 205px;
}

.promo__wrapper {
  max-width: 530px;
}

.promo__title {
  margin-top: 9px;
}

.promo__btns {
  margin-top: 25px;
}

.promo__btn-bg {
  margin-right: 42px;
}

.promo__btn-tr {
  color: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.sidebar {
  position: absolute;
  top: 224px;
  left: 39px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  height: 370px;
}

.sidebar:not(:last-child) > * {
  margin-top: 15px;
}

.sidebar__link {
  font-size: 20px;
  color: #000000;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar__link:hover {
  color: red;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sidebar__divider {
  width: 2px;
  height: 70px;
  background-color: #000000;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: inline-block;
}

.sidebar__title {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  display: inline-block;
}

.hamburger {
  position: absolute;
  height: 21px;
  width: 36px;
  top: 20px;
  right: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #151812;
}

.hamburger .hamburger__long {
  width: 36px;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.menu__block {
  position: relative;
  padding: 140px 40px 50px 40px;
  background-color: #FFA501;
  width: 345px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.menu__close {
  position: absolute;
  background: url(../img/close.svg) no-repeat;
  width: 29px;
  height: 29px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.menu__link {
  position: relative;
  padding-left: 35px;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 15px;
}

.menu__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
  border: 1px solid #000000;
}

.menu__link a {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__link a:hover {
  color: red;
}

.menu__link:hover {
  color: red;
}

.menu__social {
  text-align: center;
  font-size: 20px;
}

.menu__social a {
  color: #000000;
  margin: 0px 7px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__social a:hover {
  color: red;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__overlay {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.75;
}

.about-me {
  padding-top: 120px;
}

.about-me__wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmmax(300px, 1fr) minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 40px;
}

.about-me__image {
  grid-column: 1/2;
  grid-row: 1/3;
}

.about-me__image img {
  width: 100%;
}

.about-me__desc {
  grid-column: 2/3;
  padding-top: 6px;
}

.about-me__title {
  position: relative;
  padding-left: 12px;
}

.about-me__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -30%;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  background: #FFA501;
}

.about-me__subtitle {
  margin-bottom: 6px;
}

.about-me__text {
  font-size: 1.4rem;
  line-height: 2.1rem;
  margin-top: 20px;
}

.about-me__skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}

.about-me__skill {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 6px;
}

.about-me__skill-img {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
}

.about-me__skill-img img {
  padding: 15px 0 0 15px;
}

.about-me__skill-img:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -30%;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  background: #FFA501;
}

.about-me__skill-img:before {
  top: 0;
}

.about-me__skill-title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.about-me__skill-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #FFA501;
}

.experience {
  padding-top: 120px;
}

.experience__title {
  position: relative;
  text-align: center;
  margin-bottom: 6px;
}

.experience__title:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -30%;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  background: #FFA501;
}

.experience__title:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.experience__subtitle {
  text-align: center;
  margin-bottom: 25px;
}

.experience__wrapper {
  display: grid;
  grid-template-columns: 415px 415px;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
  padding: 60px 65px 0 65px;
}

.experience__item-title {
  position: relative;
  padding-left: 50px;
}

.experience__item-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 100%;
  background-color: #FFA501;
}

.experience__item-aducation {
  position: relative;
  display: grid;
  grid-template-columns: 56px 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  padding: 45px 0 0 50px;
}

.experience__item-aducation::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% + 7.5px);
  top: -7.5px;
  left: 7px;
  background-color: #000000;
}

.experience__item-image {
  position: relative;
}

.experience__item-image:before {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -30%;
  left: 0;
  z-index: -1;
  border-radius: 100%;
  background: #FFA501;
}

.experience__item-image:before {
  top: 0%;
  left: 0%;
}

.experience__item-image img {
  padding: 16px 0 0 16px;
}

.experience__item-address {
  position: relative;
}

.experience__item-address::before {
  content: "";
  display: block;
  position: absolute;
  width: 42px;
  height: 1px;
  top: 17px;
  left: -98px;
  background-color: #000000;
}

.experience__item-address-title {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.experience__item-subtitle {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.experience__item-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  grid-column: 1/3;
  margin-top: 12px;
}

.experience .divider {
  margin: 0 auto;
}
@supports (-webkit-appearance:none){
.promo{background:url(../img/bg.jpg) 50%/cover no-repeat}
.menu__close{background:url(../img/close.svg) no-repeat}
}
